@import url(../NavBar/Navbar.css);

.CartList-main {
    margin-top: 10vh;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background: var(--bgb3);
    display: grid;
    gap: 1vh;
    grid-template-columns: repeat(auto-fit, 77vw);
    /* gap: 10px; */
    padding: 15px;
    color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 10px;
    justify-items: center;
}

.CartList-total {
    color: #9b7bc0;
    width: 100%;
    /* border: 1px solid whitesmoke; */
    height: 20vh;
    display: flex;
    /* background-color: var(--bg4); */
    font-family: var(--fst);
    font-size: 2rem;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1vh;
}

/* uiverse icons */
/* From Uiverse.io by vinodjangid07 */
.cartlist-Btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--btn-bg);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: 10px;
    justify-content:space-around ;
}

.svgIcon {
    width: 2rem;
}

.svgIcon path {
    fill: white;
}

.cartlist-Btn::before {
    width: 100%;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}

.cartlist-Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%, -50%);
    border-radius: 0;
}

.cartlist-Btn:active {
    transform: translate(5px, 5px);
    transition-duration: .3s;
}

.cartlist-Btn>p:nth-child(1) {

    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
.cartlist-Btn>p:nth-child(1)>p{
    padding-left: 10px;
    font-size: 1.3rem;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.cartlist-Btn>p:nth-child(2){
    font-size: 1.3rem;
}

