:root {
    --bg1: rgb(153, 220, 71);
    --bg2: whitesmoke;
    --bgb3: #120024;
    --bg5: rgba(0, 128, 0, 0.67);
    --bg4:grey;
    --btn-bg:linear-gradient(135deg,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    --btnc:coral;
    --lcolor1: white;
    --fs1: 1rem;
    --fs2: 2rem;
    --fst: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --header-height: 3rem;
    --font-semi: 600;
    /*===== Colores =====*/
    /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
    /* HSL color mode */
    --hue-color: 224;
    --first-color: darkseagreen;
    --second-color: hsl(var(--hue-color), 56%, 12%);
    /*===== Fuente y tipografia =====*/
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}

.nav_box {
    display: flex;
    height: 10vh;
    width: 100%;
    top: 0;
    background-color: rgb(19 2 38 / 84%);
    /* place-items: center; */
    align-items: center;
    align-content: space-between;
    /* place-content: center; */
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    z-index: 9999;

}

.my_shop {
    display: flex;
    color: var(--lcolor1);
    font-size: var(--fs2);
    font-family: var(--fst);
    place-items: center;
    cursor: pointer;

}

.my_shop>span {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(243, 120, 71);

}

.cart {
    display: flex;
    cursor: pointer;
}

.cart>span>i {
    font-size: var(--fs2);
    color: var(--lcolor1);
}

.cart>.count {
    padding: 2px;
    color: var(--lcolor1);
    background-color: red;
    border-radius: 50%;
    width: 15px;
    font-size: 0.7rem;
    height: 15px;
    margin-left: 1.4rem;
    place-content: right;
    position: absolute;
    display: flex;
    place-content: center;
    transition: all 2s;
}